:root {
    --verde: #1ba333;
    --amarillo: #ffcc00;
    --azul: #203b76;
    --verdeOscuro: #135423;
    --verdeClaro: #d3eed7;
    --cafe: #5b3700;
    --azulClaro: #0094e9;
    --blanco: #fff;
    --gris6: #666;
    --gris9: #999;
    --rojo: #ff0000;
    --colorTexto: #303030;
  }